.statsBlock {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  margin: 0 auto;
  box-sizing: border-box;
}

.statsItem {
  text-align: center;
  flex: 1;
  border-top: 2px solid rgba(121, 121, 121, 0.63);
  width: 100%;
  box-sizing: border-box;
  background-color: lightgray;
}

.statsBlock .statsItem:not(:first-child) {
  border-left: 2px solid rgba(121, 121, 121, 0.63);
}

.label {
  font-size: 14px;
  color: #6b7280;
  text-transform: uppercase;
  font-weight: 500;
}

.value {
  font-size: 20px;
  font-weight: bold;
  color: #1f2937;
}
